{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
<section class="form-section">
    <h2>Modifier</h2>

    {{ form_start(form, {
        attr: {
            id: 'edit-form',
            class: ''
        }
    }) }}

    <div class="form-card">
        <div class="div-form">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>

        <div class="div-form">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div class="div-form">
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
        </div>
    </div>

    <div class="submit-div">
        <label></label>
        <button class="btn btn-form">Modifier profil</button>
    </div>

    {{ form_end(form) }}
</section>
{% endblock %}

