{% extends 'base.html.twig' %}

{% block title %}Historique coaching{% endblock %}

{% block body %}
<section class="table-section">
    <h2>Historique coaching</h2>

    <div class="table-card">
        <table class="table">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Type</th>
                    <th>Jours</th>
                    <th>Mois</th>
                    <th>Année</th>
                    <th>Heure</th>
                </tr>
            </thead>

            <tbody>
                {% for coaching in coachings %}
                <tr>
                    <td>{{ coaching.coach.user.username }}</td>
                    <td>{{ coaching.coachingType }}</td>
                    <td>{{ coaching.datetime|date('d') }}</td>
                    <td>{{ coaching.datetime|date('F') }}</td>
                    <td>{{ coaching.datetime|date('Y') }}</td>
                    <td>{{ coaching.datetime|date('H:i') }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">Aucun coaching terminé pour le moment.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
