{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
<section class="calendarsection">
    <h2>Booking</h2>

    {{ form_start(form, { attr: { class: 'form-card' } }) }}

        <div class="div-form">
            {{ form_label(form.coach) }}
            {{ form_widget(form.coach) }}
        </div>

        <div class="div-form">
            {{ form_label(form.month) }}
            {{ form_widget(form.month) }}
        </div>

        <div class="div-form">
            {{ form_label(form.day) }}
            {{ form_widget(form.day) }}
        </div>

        <div class="div-form">
            {{ form_label(form.time) }}
            {{ form_widget(form.time) }}
        </div>

        <div class="div-form">
            {{ form_label(form.coaching_type) }}
            {{ form_widget(form.coaching_type) }}
        </div>

        <div class="submit-div">
            <button class="btn btn-form btn-border">Demander un coaching</button>
        </div>

    {{ form_end(form) }}
</section>
{% endblock %}
