{% extends 'base.html.twig' %}

{% block title %}Hello CoachingController!{% endblock %}

{% block body %}
<section>
    <h1>
        Coaching
    </h1>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quidem veniam, quia libero quo ea ab nobis,
        ipsam ratione vero magnam dolore porro? Esse quidem similique rerum fugit, nam suscipit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Error, dolorem! Tempore nostrum voluptas cumque, architecto quas provident et
        laboriosam esse. Ex, aliquam dolorem provident error commodi quaerat voluptate ea dolore?
    </div>
</section>
<section>
    <h2>Planning</h2>
    <div class="div-iframe video-planning">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/frrmQhmwaLQ?si=DTUX60CMihDTq-j-"
            title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <a class="btn book-now" href="{{path('app_planning')}}">Réserve maintenant !</a>
    </div>
</section>
<section class="row-section">
    {% if coachs %}
    {% for coach in coachs %}
    {% set image = coach.photo ? 'img/coachs/' ~ coach.photo : 'img/coachs/placeholder.png' %}
    <div class="card">
        <div class="img-coach img-coaching">
            <div class="img-background img-background-coaching" style="background-image: url('{{ asset(image) }}')" ;>
            </div>
        </div>
        <div class="card-content">
            <h3>{{ coach.pseudo }}</h3>
            <p>Type de coach : {{coach.type}} </p>
            <p>Experiences : {{coach.experiences}}</p>
            <p>Langues : {{coach.languages}}</p>
            {% include 'home/_flag.html.twig' with { country: coach.nationality } %}
            <p>{{ coach.bio }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>Aucune coach accessible pour le moment.</h3>
    {% endif %}
</section>
{% endblock %}
