{% extends 'base.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}
<section>
    <h1>
        Coaching
    </h1>
    <div class="text">
        Chez LLT, on t'offre 2 types de coaching : des coachings gratuits d'une durée de 30 min et des coachings payants
        de 1h avec un coach professionnel. Si tu veux un coaching, il te suffit de consulter le planning et de faire une
        demande dans les créneaux disponibles. Un coach s'occupera d'accepter ou de refuser ton coaching. Tu peux
        consulter tes demandes dans ton profil pour savoir si un coach l'a accepté.
    </div>
</section>
<section>
    <h2>Planning</h2>
    <div class="div-iframe video-planning">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jv84iZe2hEk?si=40HEmOYh-az8v1j9"
            title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <a class="btn book-now" href="{{path('app_planning')}}">Réserve maintenant !</a>
    </div>
</section>
<section class="row-section">
    {% if coachs %}
    {% for coach in coachs %}
    {% set image = coach.photo ? 'img/coachs/' ~ coach.photo : 'img/coachs/placeholder.png' %}
    <div class="card">
        <div class="img-coach img-coaching">
            <div class="img-background img-background-coaching" style="background-image: url('{{ asset(image) }}')" ;>
            </div>
        </div>
        <div class="card-content">
            <h3>{{ coach.pseudo }}</h3>
            <p>Type de coach : {{coach.type}} </p>
            <p>Experiences : {{coach.experiences}}</p>
            <p>Langues : {{coach.languages}}</p>
            {% include 'home/_flag.html.twig' with { country: coach.nationality } %}
            <p>{{ coach.bio }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>Aucune coach accessible pour le moment.</h3>
    {% endif %}
</section>
{% endblock %}
