{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="form-section">

    {% if app.user %}
    <h2>Vous êtes déjà Connecter !</h2>
    {% else %}
    <h2>Inscription</h2>
    {{ form_start(form) }}
    <div class="form-card">
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
    </div>
    <div class="submit-div">
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
    {% endif %}
</section>
{% endblock %}
